@model BlogVM
@{
    ViewData["Title"] = "Whiskey - Blog";
}



<main>
    <section id="main-up">
        <div class="container">
            <div class="row">
                <div class="main-up-contact-name">
                    <h1>Blog</h1>
                </div>

                <div class="main-up-contact-signature mt-3">
                    <img src="~/assets/img/main-line2.svg" alt="">
                </div>

                <div class="main-up-contact-descriptions">
                    <div class="main-up-contact-description">
                        <p>
                            Condimentum consectetur cursus cras egestas et ut urna hendrerit faucibus molestie ornare
                            bibendum maecenas massa orci mollis vulputate ultrices.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section id="background-img">
        <div>
            <img src="~/assets/img/main-back-img2.svg" alt="">
        </div>
    </section>


    <section id="blogs">
        <div class="container">
            <div class="row">
                <div class="blog row mt-5">
                    <div class="col-lg-4 col-sm-12 col-md-6  homes-blogs-hover mt-4">

                        <div class="card home-blog" style="width: 24rem;">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/blog-detail.html"><i class="fa-solid fa-circle-plus"></i></a>
                            <img src="~/assets/img/home-blog1.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span><i class="fa-regular fa-user"></i></span>
                                <span>admin on</span>
                                <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                <br> <br>
                                <span>In arcu quis wisi donec vitae libero maecenas blandit</span>
                                <br>
                                <br>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-6 homes-blogs-hover mt-4">

                        <div class="card home-blog" style="width: 24rem;">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/blog-detail.html"><i class="fa-solid fa-circle-plus"></i></a>
                            <img src="~/assets/img/home-blog2.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="card-text"><i class="fa-regular fa-user"></i></span>
                                <span class="card-text">admin on</span>
                                <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                <br> <br>
                                <span>Orci luctus nibh, ut leo sit amet, consectetuer ut, neque</span>
                                <br><br>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-sm-12 col-md-6 homes-blogs-hover mt-4">

                        <div class="card home-blog" style="width: 24rem;">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/blog-detail.html"><i class="fa-solid fa-circle-plus"></i></a>
                            <img src="~/assets/img/home-blog3.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="card-text"><i class="fa-regular fa-user"></i></span>
                                <span class="card-text">admin on</span>
                                <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                <br> <br>
                                <span>Praesent ac turpis semper felis sollicitudin mi vel eros</span>
                                <br><br>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-sm-12 col-md-6 homes-blogs-hover mt-4">
                        <div class="card home-blog" style="width: 24rem;">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/blog-detail.html"><i class="fa-solid fa-circle-plus"></i></a>
                            <img src="~/assets/img/blog4.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="card-text"><i class="fa-regular fa-user"></i></span>
                                <span class="card-text">admin on</span>
                                <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                <br> <br>
                                <span>Lacinia quis, varius lectus nullam viverra vel, velit</span>
                                <br><br>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-sm-12 col-md-6 homes-blogs-hover mt-4">

                        <div class="card home-blog" style="width: 24rem;">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/blog-detail.html"><i class="fa-solid fa-circle-plus"></i></a>
                            <img src="~/assets/img/blog5.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="card-text"><i class="fa-regular fa-user"></i></span>
                                <span class="card-text">admin on</span>
                                <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                <br> <br>
                                <span>In faucibus at, gravida mattis, magna quis massa</span>
                                <br><br>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-6 homes-blogs-hover mt-4">

                        <div class="card home-blog" style="width: 24rem;">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/blog-detail.html"><i class="fa-solid fa-circle-plus"></i></a>
                            <img src="~/assets/img/blog6.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span><i class="fa-regular fa-user"></i></span>
                                <span>admin on</span>
                                <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                <br> <br>
                                <span>Ac massa donec scelerisque pede eget elit arcu</span>
                                <br>
                                <br>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-6 homes-blogs-hover mt-4">
                        <div class="card home-blog" style="width: 24rem;">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/blog-detail.html"><i class="fa-solid fa-circle-plus"></i></a>
                            <img src="~/assets/img/blog7.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="card-text"><i class="fa-regular fa-user"></i></span>
                                <span class="card-text">admin on</span>
                                <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                <br> <br>
                                <span>Elementum ultrices nunc in erat sem ut metusa enean</span>
                                <br><br>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-sm-12 col-md-6 homes-blogs-hover mt-3">

                        <div class="card home-blog" style="width: 24rem;">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/blog-detail.html"><i class="fa-solid fa-circle-plus"></i></a>
                            <img src="~/assets/img/blog8.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="card-text"><i class="fa-regular fa-user"></i></span>
                                <span class="card-text">admin on</span>
                                <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                <br> <br>
                                <span>Sed lobortis condimentum nunc aliquam fermentum in</span>
                                <br><br>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-6 homes-blogs-hover mt-4">
                        <div class="card home-blog" style="width: 24rem;">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/blog-detail.html"><i class="fa-solid fa-circle-plus"></i></a>
                            <img src="~/assets/img/blog9.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="card-text"><i class="fa-regular fa-user"></i></span>
                                <span class="card-text">admin on</span>
                                <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                <br> <br>
                                <span>Sed faucibus, justo sem, accumsan odio magna ante</span>
                                <br><br>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-sm-12 col-md-6 homes-blogs-hover mt-4">
                        <div class="card home-blog" style="width: 24rem;">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/blog-detail.html"><i class="fa-solid fa-circle-plus"></i></a>
                            <img src="~/assets/img/blog10.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="card-text"><i class="fa-regular fa-user"></i></span>
                                <span class="card-text">admin on</span>
                                <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                <br> <br>
                                <span>Pellentesque nibh ac risus fringilla purus at eros</span>
                                <br><br>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-sm-12 col-md-6 homes-blogs-hover mt-3">

                        <div class="card home-blog" style="width: 24rem;">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/blog-detail.html"><i class="fa-solid fa-circle-plus"></i></a>
                            <img src="~/assets/img/blog11.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="card-text"><i class="fa-regular fa-user"></i></span>
                                <span class="card-text">admin on</span>
                                <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                <br> <br>
                                <span>Blandit justo, eget magna sodales sed tristique malesuada</span>
                                <br><br>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-6 homes-blogs-hover mt-4">
                        <div class="card home-blog" style="width: 24rem;">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/blog-detail.html"><i class="fa-solid fa-circle-plus"></i></a>
                            <img src="~/assets/img/blog12.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="card-text"><i class="fa-regular fa-user"></i></span>
                                <span class="card-text">admin on</span>
                                <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                <br> <br>
                                <span>Etiam rutrum, enim molestie consequat vel venenatis</span>
                                <br><br>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="paginations mt-5">
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a class="active" href="#">2</a>

                        <a href="#">&raquo;</a>
                    </div>

                </div>

            </div>
    </section>

    <section id="background-img">
        <div class="background-responsive-img mt-5">
            <img src="~/assets/img/main-back-img1.svg" alt="">
        </div>
    </section>



</main>


