@model BlogVM

@inject ILayoutService layout

@{
    ViewData["Title"] = "Whiskey - Blog";
}



<main>
    <section id="main-up">
        <div class="container">
            <div class="row">
                <div class="main-up-contact-name">
                    <h1>Blog</h1>
                </div>

                <div class="main-up-contact-signature mt-3">
                    <img src="~/assets/img/main-line2.svg" alt="">
                </div>

                <div class="main-up-contact-descriptions">
                    <div class="main-up-contact-description">
                        <p>
                            Condimentum consectetur cursus cras egestas et ut urna hendrerit faucibus molestie ornare
                            bibendum maecenas massa orci mollis vulputate ultrices.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section id="background-img">
        <div>
            <img src="~/assets/img/main-back-img2.svg" alt="">
        </div>
    </section>


    <section id="blogs">
        <div class="container">
            <div class="row">
              
                <div class="blog row mt-5">

                    <partial name="_BlogListPartial" model="Model.PaginateDatas.Datas" />

                </div>

                <div class="paginations mt-5">
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a class="active" href="#">2</a>

                        <a href="#">&raquo;</a>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="background-img">
        <div class="background-responsive-img mt-5">
            <img src="~/assets/img/main-back-img1.svg" alt="">
        </div>
    </section>



</main>


@section Scripts{
    <script src="~/assets/js/blog.js"></script>
}