





<footer>
    <section id="footer">
        <div class="footers">
            <div class="container">
                <div class="row">
                    <div class="footer-logo mt-5">
                        <img src="~/assets/img/header-logo1.svg" alt="">
                    </div>

                    <div class="footer mt-5 row">
                        <div class="col-lg-3 col-sm-12 col-md-6 ">
                            <div class="footer-title">
                                <h5>Blenders pride</h5>
                            </div>
                            <div class="footer-description">
                                <ul>
                                    <li><a href="file:///C:/Users/HP/Desktop/EndProject/contact.html">Contact us</a></li>
                                    <li><a href="file:///C:/Users/HP/Desktop/EndProject/about.html">Help & About us</a></li>
                                    <li><a href="file:///C:/Users/HP/Desktop/EndProject/about.html">Shipping & Returns</a></li>
                                    <li><a href="file:///C:/Users/HP/Desktop/EndProject/about.html">Refund Policy</a></li>
                                    <li><a href="file:///C:/Users/HP/Desktop/EndProject/about.html">Press Room</a></li>
                                    <li><a href="file:///C:/Users/HP/Desktop/EndProject/about.html">Privacy policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12 col-md-6">
                            <div class="footer-title">
                                <h5>Customer service</h5>
                            </div>
                            <div class="footer-description">
                                <ul>
                                    <li><a href="">Orders</a></li>
                                    <li><a href="">Downloads</a></li>
                                    <li><a href="">Addresses</a></li>
                                    <li><a href="">Lost password</a></li>
                                    <li><a href="">Logout</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12 col-md-6">
                            <div class="footer-title">
                                <h5>Blenders pride</h5>
                            </div>
                            <div class="footer-description">
                                <ul>
                                    <li><a href="">Level 13, 2 Elizabeth St,</a></li>
                                    <li><a href="">Melbourne, Victoria 3000,</a></li>
                                    <li><a href="">Australia</a></li>
                                    <li><a href="">Monday - Friday</a></li>
                                    <li><a href="">09:00 AM - 06:00 PM</a></li>
                                    <li><a href="">Saturday</a></li>
                                    <li><a href="">07:00 AM - 08:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12 col-md-6">
                            <div class="footer-title">
                                <h5>Payment methods</h5>

                            </div>
                            <div class="footer-description">
                                <ul>
                                    <li><a href="">Cras at augue id enim. Phasellus in nibh consectetuer tincidunt sed, erat</a></li>
                                    <li class="img-pay mt-5"><img src="~/assets/img/footer-pay1.webp" alt=""></li>
                                    <li class="img-pay mt-2"><img src="~/assets/img/footer-pay2.webp" alt=""></li>

                                </ul>

                            </div>

                        </div>



                    </div>


                </div>
            </div>






        </div>

    </section>

    <section id="footer-lines">
        <div class="footer-line">
            <div class="container">
                <div class="row">

                    <div class="col-6">
                        <div class="footer-title mt-3">
                            <span>
                                © 2023 Betheme by Muffin group | All Rights Reserved | Powered by WordPress
                            </span>

                        </div>

                    </div>

                    <div class="col-6">
                        <div class="footer-titles mt-3">
                            <span>
                                Terms and conditions Privacy policy Cookies
                            </span>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>



</footer>

