
@{
    ViewData["Title"] = "Whiskey - Cart";
}



<main>
    <section id="main-up">
        <div class="container">
            <div class="row">
                <div class="main-up-contact-name">
                    <h1>Cart</h1>
                </div>

                <div class="main-up-contact-titles">
                    <div class="main-up-contact-title">
                        <a href="file:///C:/Users/HP/Desktop/EndProject/home.html"><span>Home</span></a>
                        <hr>
                        <span>></span>
                        <span>Cart</span>


                    </div>
                </div>

            </div>
        </div>

    </section>

    <section id="background-img">
        <div class="background-img-one">
            <img src="~/assets/img/main-back-img2.svg" alt="">
        </div>
    </section>


    <section id="cart">
        <div class="container">
            <div class="basket-products mt-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>

                    </thead>
                    <tbody>
                    </tbody>
                    <tr>
                        <td>
                            <button class="btn btn-primary shop"><a href="Shop.html">Continue shopping</a></button>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><span>Grand total:</span></td>
                    </tr>
                </table>
            </div>




        </div>
    </section>




    <section id="main">
        <div class="container  d-none">
            <div class="row">
                <div class="main-up ">
                    <button class="buttons"> <span>Your cart is empty.</span></button>
                    <div class="mt-3"> <button>Go to shop</button></div>



                </div>

            </div>
        </div>

    </section>

    <section id="background-img">
        <div class="background-img-two mt-5">
            <img src="~/assets/img/main-back-img1.svg" alt="">
        </div>
    </section>








</main>




