
@{
    ViewData["Title"] = "Whiskey - Contact";
}





<main>
    <section id="main-up">
        <div class="container">
            <div class="row">
                <div class="main-up-contact-name ">
                    <h1>Contact</h1>
                </div>

                <div class="main-up-contact-signature mt-lg-3">
                    <img src="~/assets/img/main-line2.svg" alt="">
                </div>

                <div class="main-up-contact-descriptions">
                    <div class="main-up-contact-description">
                        <p>
                            Cubilia suspendisse mi odio purus mauris amet pulvinar platea vehicula donec tortor
                            consectetur tellus luctus semper sed hac curabitur nibh tellus arcu.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section id="background-img">
        <div class="background-img-one">
            <img src="~/assets/img/main-back-img2.svg" alt="">
        </div>
    </section>


    <section id="main-middle">
        <div class="container">
            <div class="row">
                <div class="main-middle-number mt-5">
                    <h1><a href="">+61 (0) 3 8376 6284</a></h1>

                </div>

                <div class="mamin-middle-mail mt-1">
                    <h1><a href="">noreply@envato.com</a></h1>
                </div>

                <div class="main-middle-address-img d-lg-flex d-md-flex  mt-5">
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="main-middle-address-title mt-3">
                            <h1>
                                We are here <br>
                                for you
                            </h1>
                        </div>

                        <div class="main-middle-address-signature mt-4">
                            <img src="~/assets/img/main-line2.svg" alt="">

                        </div>

                        <div class="main-middle-address-description mt-5">
                            <h5>
                                At habitant varius eros aliquet habitasse senectus quisque rhoncus volutpat nisi pellentesque porta in molestie: 7:00 am - 9:00 pm
                            </h5>
                        </div>

                        <div class="main-middle-address-location d-flex mt-5">
                            <div class="col-lg-6 col-sm-12 col-md-6 ">
                                <img src="~/assets/img/address-location.svg" alt="">


                            </div>
                            <div class="col-lg-6 col-sm-12 col-md-6">
                                <img src="~/assets/img/address-location.svg" alt="">

                            </div>

                        </div>

                        <div class="main-middle-address-name d-flex mt-5">
                            <div class="col-6">
                                <h5>Address 1</h5>
                            </div>
                            <div class="col-6">
                                <h5>Address 2</h5>

                            </div>
                        </div>

                        <div class="main-middle-address d-flex mt-4">
                            <div class="col-6">
                                <p>
                                    Level 13, 2 Elizabeth
                                    Victoria 3000
                                    Australia
                                </p>
                            </div>

                            <div class="col-6">
                                <p>
                                    Level 13, 2 Elizabeth
                                    Victoria 3000
                                    Australia
                                </p>
                            </div>
                        </div>

                        <div class="main-middle-address-down mt-5">
                            <p>
                                NR 000 000 00 00 <br>
                                NR 00 000 0000 0000
                            </p>

                        </div>




                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="main-middle-address-img">
                            <img src="~/assets/img/contact-men1.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="main-down">
        <div class="container mt-5">
            <div class="row">

                <div class="d-lg-flex d-md-flex">
                    <div class="col-lg-6 col-sm-12 col-md-6 mt-5">
                        <div class="mian-down-maecenas mt-5">
                            <h3>Maecenas elit facilisi consequat proin convallis gravida. Augue sed euismod.</h3>

                        </div>
                        <div class="main-down-nul-integ-males mt-5">
                            <div class="main-down-nullam d-flex">
                                <div class="main-down-nul-img col-lg-2 col-sm-6 col-md-">
                                    <img src="~/assets/img/contact-icon1.svg" alt="">
                                </div>
                                <div class="col-lg-10 col-sm-4 col-md-11">
                                    <div class="main-down-nul-img-title mt-2">
                                        <h5>Integer aliquam</h5>
                                    </div>
                                    <div class="main-down-nul-img-desc mt-3">
                                        <p>Bibendum nulla erat vel nulla. Morbi vitae lectus vel ipsum dolor auctor vel, eros.</p>
                                    </div>

                                </div>

                            </div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="main-down-nul-integ-males mt-5">
                            <div class="main-down-nullam d-flex">
                                <div class="main-down-nul-img col-lg-2 col-sm-6 col-md-1">
                                    <img src="~/assets/img/contact-icon2.svg" alt="">
                                </div>
                                <div class="col-lg-10 col-sm-6 col-md-11">
                                    <div class="main-down-nul-img-title mt-2">
                                        <h5>Nullam aliquet</h5>
                                    </div>
                                    <div class="main-down-nul-img-desc mt-3">
                                        <p>Vestibulum tempus facilisis, quam at sapien. Morbi justo. Aliquam tempus eros bitubit</p>
                                    </div>

                                </div>

                            </div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="main-down-nul-integ-males mt-5">
                            <div class="main-down-nullam d-flex">
                                <div class="main-down-nul-img col-lg-2 col-sm-6 col-md-1">
                                    <img src="~/assets/img/contact-icon3.svg" alt="">
                                </div>
                                <div class="col-lg-10 col-sm-6 col-md-11">
                                    <div class="main-down-nul-img-title mt-2">
                                        <h5>Malesuada fames</h5>
                                    </div>
                                    <div class="main-down-nul-img-desc mt-3">
                                        <p>Nisl phasellus tempus imperdiet diam enim ut vitae velit a augue ac posuere nisl urna dap.</p>
                                    </div>

                                </div>

                            </div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 col-md-6 mt-5">
                        <div class="main-down-question mt-4">
                            <div class="main-down-question-title mt-4">
                                <h1>
                                    Have a question?
                                    Write to us!
                                </h1>
                            </div>


                            <div class="main-down-fullname-phone">
                                <div class="main-down-fullname">
                                    <form>
                                        <div class="group inputs ">
                                            <input required type="text">
                                            <span class="bar"></span>
                                            <label>Your Name (required) *</label>
                                            <span class="validation">Please enter a valid message</span>
                                        </div>

                                        <div class="group inputs">
                                            <input required type="text">
                                            <span class="bar"></span>
                                            <label>Your Email (required) *</label>
                                            <span class="validation">Please enter a valid message</span>
                                        </div>

                                        <div class="group inputs">
                                            <input required type="text">
                                            <span class="bar"></span>
                                            <label>Subject *</label>
                                            <span class="validation">Please enter a valid message</span>
                                        </div>



                                        <div class="group textarea">
                                            <textarea required></textarea>
                                            <span class="bar"></span>
                                            <label>Your message *</label>
                                        </div>

                                        <button type="submit">Contact us</button>
                                    </form>

                                </div>


                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="main-map">
        <div class="mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24313.215380891517!2d49.86191205!3d40.3833254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2saz!4v1678084299482!5m2!1sen!2saz"
                    width="600" backgroundcolor="red" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </section>



</main>


