d

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" type="image/png" href="~/assets/img/favicon.ico">
    <link rel="icon" href="~/admin/assets/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/admin/assets/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/admin/assets/style.css" />
    <link rel="stylesheet" href="~/admin/assets/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/admin/assets/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/admin/assets/css/colors.css" />
    <link rel="stylesheet" href="~/admin/assets/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/admin/assets/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/admin/assets/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/admin/assets/css/custom.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @await RenderSectionAsync("Css",required:false)
</head>
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a href="index.html"><img class="logo_icon img-responsive" src="~/admin/assets/logo/logo_icon.png" alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive" src="~/admin/assets/layout_img/user_img.jpg" alt="#" /></div>
                            <div class="user_info">
                                <h6>John David</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled components">
                    <div class="sidebar_blog_2">
                        <h4>General</h4>
                        <ul class="list-unstyled components">
                            <li class="active">
                                <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Home</span></a>
                                <ul class="collapse list-unstyled" id="dashboard">
                                    <li>
                                        <a asp-controller="Slider" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Sliders</span></a>
                                    </li>
                                    <li>
                                        <a asp-controller="SpecialCollection" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">SpecialCollection</span></a>

                                    </li>
                                    <li>
                                        <a asp-controller="SectionBackground" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">SectionBackground</span></a>

                                    </li>

                                    <li>
                                        <a asp-controller="SectionHeader" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">SectionHeader</span></a>

                                    </li>

                                    <li>
                                        <a asp-controller="Setting" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Setting</span></a>

                                    </li>
                                    <li>
                                        <a asp-controller="HomeAdvertising" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">HomeAdvertising</span></a>

                                       
                                    </li>
                                </ul>
                            </li>




                            <li><a href="widgets.html"><i class="fa fa-clock-o orange_color"></i> <span>About</span></a></li>
                            <li>

                                <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>About</span></a>
                                <ul class="collapse list-unstyled" id="element">
                                    <a asp-controller="AboutUs" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">AboutUs</span></a>
                                    <a asp-controller="AboutAdvertising" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">AboutAdvertising</span></a>
                                    <a asp-controller="AboutMainFooter" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">AboutMainFooter</span></a>
                           
                                </ul>
                            </li>

                            <li>
                                <a asp-controller="Blog" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Blog</span></a>
                            <li>
                                </li>


                            <li>
                                <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Shop</span></a>
                                <ul class="collapse list-unstyled" id="apps">


                                    <li>
                                        <a asp-controller="Product" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Product</span></a>
                                    </li>
                                  
                                    <li>
                                        <a asp-controller="Category" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Category</span></a>
                                    </li>


                                    <li>
                                        <a asp-controller="ProductComment" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">ProductComment</span></a>
                                    </li>

                                    <li>
                                        <a asp-controller="Capacity" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Capacity</span></a>
                                    </li>


                                </ul>
                            </li>
                            <li><a href="price.html"><i class="fa fa-briefcase blue1_color"></i> <span>Pricing Tables</span></a></li>
                            <li>
                                <a href="contact.html">
                                    <i class="fa fa-paper-plane red_color"></i> <span>Contact</span>
                                </a>
                            </li>

                           





                            <li class="active">
                                <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Contact</span></a>
                                <ul class="collapse list-unstyled" id="additional_page">
                                  
                                    <li>
                                        <a asp-controller="Contact" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Contact</span></a>
                                    </li>
                                    <li>
                                        <a asp-controller="ContactInfo" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">ContactInfo</span></a>
                                    </li>
                                    <li>
                                        <a href="404_error.html">> <span>404 Error</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                            <li><a href="charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>
                            <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                        </ul>
                    </div>

             
                    </ul>
                </div>

            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            <div class="logo_section">
                                <a href="index.html"><img class="img-responsive" src="~/admin/assets/logo/logo.png" alt="#" /></a>
                            </div>
                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                        <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                                    </ul>
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="~/admin/assets/layout_img/user_img.jpg" alt="#" /><span class="name_user">John David</span></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="profile.html">My Profile</a>
                                                <a class="dropdown-item" href="settings.html">Settings</a>
                                                <a class="dropdown-item" href="help.html">Help</a>
                                                <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->


               @RenderBody()

                <div class="midde_cont">

                    <!-- footer -->

                </div>
                <!-- end dashboard inner -->
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/admin/assets/js/jquery.min.js"></script>
    <script src="~/admin/assets/js/popper.min.js"></script>
    <script src="~/admin/assets/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="~/admin/assets/js/animate.js"></script>
    <!-- select country -->
    <script src="~/admin/assets/js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="~/admin/assets/js/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="~/admin/assets/js/Chart.min.js"></script>
    <script src="~/admin/assets/js/Chart.bundle.min.js"></script>
    <script src="~/admin/assets/js/utils.js"></script>
    <script src="~/admin/assets/js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="~/admin/assets/js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    <script src="~/admin/assets/js/custom.js"></script>
    <script src="~/admin/assets/js/chart_custom_style1.js"></script>
    @await RenderSectionAsync("Script",required:false)
</body>
</html>


