* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

body {
  width: 100%;
  height: auto;
  background-color: #343333;
}

@media (max-width: 850px) {
  #background-images .background-image {
    width: 100%;
    height: auto;
  }
  #background-images .background-image img {
    width: 100%;
    height: auto;
  }
  #sliders .slider .swiper .swiper-wrapper .swiper-slide {
    margin-top: 20px;
  }
  #sliders .slider .swiper .swiper-wrapper .swiper-slide h2 {
    font-size: 30px;
    margin-top: -116px;
    margin-left: 10%;
  }
  #sliders .slider .swiper .swiper-wrapper .swiper-slide h4 {
    font-size: 10px;
    margin-left: 10%;
  }
  #sliders .slider .swiper .swiper-wrapper .swiper-slide h3 {
    position: relative !important;
    top: 10% !important;
  }
  #sliders .slider .swiper .swiper-wrapper .swiper-slide span {
    font-size: 10px;
  }
  #sliders .slider .swiper .swiper-wrapper .swiper-slide img {
    width: 30%;
    height: auto;
  }
  #background-slider .back-img img {
    margin-top: 25px;
  }
  #main-traditions .main-tradition .main-lineback {
    width: 100% !important;
  }
  #main-traditions .main-tradition .main-lineback img {
    width: 100% !important;
  }
  #main-traditions .main-tradition .main-logo {
    width: 100% !important;
  }
  #main-traditions .main-tradition .main-logo img {
    width: 11% !important;
  }
  #main-traditions .main-tradition .main-line {
    width: 100% !important;
  }
  #main-traditions .main-tradition .main-line img {
    position: relative;
    bottom: 100%;
  }
  #main-traditions .main-tradition .tradition-description {
    width: 100% !important;
  }
  #main-traditions .main-tradition .tradition-description h5 {
    position: relative;
    bottom: 80px;
    font-size: 9px;
  }
  #main-traditions .main-tradition .main-signature img {
    position: relative;
    bottom: 86%;
  }
  #main-traditions .main-tradition .main-lines {
    position: relative;
    bottom: 68px;
  }
  #special-collections .special-collection {
    margin-top: -176px;
  }
  #special-collections .special-collection .special-prices .special-price h1 {
    font-size: 34px;
  }
  #special-collections .special-collection .special-prices .special-price h4 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  #special-collections .special-collection .special-prices .zeros {
    width: 100% !important;
    height: 11%;
    margin-top: 5%;
    gap: 20% !important;
  }
  #special-collections .special-collection .special-prices .days-hours {
    width: 100% !important;
    gap: 32px !important;
  }
  #special-collections .special-collection .special-prices .button-buy button {
    width: 48% !important;
  }
  #special-collections .special-collection .whiskey-men {
    width: 100%;
    height: auto;
  }
  #special-collections .special-collection .whiskey-men img {
    position: relative;
    bottom: 30px;
  }
  #background-img1 .back-img img {
    position: relative;
    top: 10px !important;
  }
  #background-img-two .back-img img {
    position: relative;
    bottom: 26%;
  }
  #blogs-advertising .advertisings .advertising-img {
    width: 100% !important;
    height: 6% !important;
  }
  #blogs .home-blogs {
    width: 100% !important;
  }
  #blogs .home-blogs .homes-blogs-hover {
    width: 100% !important;
  }
  #blogs .home-blogs .homes-blogs-hover .home-blog {
    width: 100% !important;
  }
  #background-img-three .back-imgs img {
    position: relative;
    top: 30%;
  }
  #footer .footers .footer {
    text-align: center;
  }
}
@media (min-width: 760px) and (max-width: 1200px) {
  #sliders .slider {
    position: relative;
    top: 107px;
  }
  #sliders .slider .swiper .swiper-wrapper .swiper-slide {
    margin-top: 20px;
  }
  #sliders .slider .swiper .swiper-wrapper .swiper-slide h2 {
    font-size: 30px;
    margin-top: -116px;
    margin-left: 5%;
  }
  #sliders .slider .swiper .swiper-wrapper .swiper-slide h3 {
    margin-left: 38px;
    position: relative !important;
    top: 190px !important;
  }
  #sliders .slider .swiper .swiper-wrapper .swiper-slide h4 {
    font-size: 10px;
    margin-left: 10%;
  }
  #sliders .slider .swiper .swiper-wrapper .swiper-slide span {
    font-size: 14px;
  }
  #sliders .slider .swiper .swiper-wrapper .swiper-slide img {
    width: 30%;
    height: auto;
  }
  #background-slider .back-img {
    margin-top: 11%;
  }
  #main-traditions .main-tradition .main-lineback {
    width: 100% !important;
  }
  #main-traditions .main-tradition .main-lineback img {
    width: 100% !important;
  }
  #main-traditions .main-tradition .main-logo {
    width: 100% !important;
  }
  #main-traditions .main-tradition .main-logo img {
    width: 11% !important;
  }
  #main-traditions .main-tradition .main-line {
    width: 100% !important;
  }
  #main-traditions .main-tradition .main-line img {
    position: relative;
    bottom: 57% !important;
  }
  #main-traditions .main-tradition .tradition-description {
    width: 100% !important;
  }
  #main-traditions .main-tradition .tradition-description h5 {
    position: relative;
    bottom: 50px;
    font-size: 9px;
  }
  #main-traditions .main-tradition .main-signature img {
    position: relative;
    bottom: 86%;
  }
  #main-traditions .main-tradition .main-lines {
    position: relative;
    bottom: 68px;
  }
  #special-collections .special-collection {
    margin-top: -176px;
  }
  #special-collections .special-collection .special-prices .special-price h1 {
    font-size: 34px;
  }
  #special-collections .special-collection .special-prices .special-price h4 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  #special-collections .special-collection .special-prices .zeros {
    width: 100% !important;
    height: 11%;
    margin-top: 5%;
    gap: 20% !important;
  }
  #special-collections .special-collection .special-prices .days-hours {
    width: 100% !important;
    gap: 32px !important;
  }
  #special-collections .special-collection .special-prices .button-buy button {
    width: 48% !important;
    margin-right: 52%;
    position: relative;
    top: 20px;
  }
  #special-collections .special-collection .whiskey-men {
    width: 100%;
    height: auto;
  }
  #special-collections .special-collection .whiskey-men img {
    width: 80% !important;
    position: relative;
    bottom: 274px;
  }
  #background-img1 .back-img img {
    position: relative;
    top: 10px !important;
  }
  #background-img-two .back-img img {
    position: relative;
    bottom: 26%;
  }
  #blogs-advertising .advertisings .advertising-img {
    width: 100% !important;
    height: 6% !important;
  }
  #blogs-advertising .advertisings .advertising-icons {
    margin-top: 156px !important;
  }
  #blogs .home-blogs .homes-blogs-hover {
    width: 100% !important;
  }
  #blogs .home-blogs .homes-blogs-hover .home-blog {
    width: 100% !important;
    height: auto;
  }
  #blogs .home-blogs .homes-blogs-hover .home-blog img {
    width: 100% !important;
    height: auto;
  }
  #background-img-three .back-imgs img {
    position: relative;
    top: 30%;
  }
}
header #navbars {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 5;
}
header #navbars .navbar {
  width: 100%;
  height: 120px;
}
header #navbars .navbar ul {
  gap: 14%;
}
header #navbars .navbar ul li {
  list-style: none;
  float: left;
}
header #navbars .navbar ul li a {
  text-decoration: none;
  color: black;
}
header #navbars .navbar ul li a span {
  color: #ca8f65;
}
header #navbars .navbar ul li a:hover span {
  color: white;
}
header #navbars .header-logo {
  width: 100%;
  height: 100%;
  text-align: center;
}
header #navbars .header-search {
  width: 100%;
  height: 100%;
}
header #navbars .header-search input {
  width: 86%;
  height: 28%;
  border: none;
}
header #navbars .header-search a i {
  font-size: 138%;
  color: #ca8f65;
  position: relative;
  float: right;
  top: 44%;
}
header #navbars .header-icons {
  width: 100%;
  height: 100%;
  text-align: center;
}
header #navbars .header-icons .header-login-register {
  width: 12%;
  height: 55%;
  background-color: rgb(243, 243, 243);
  position: absolute;
}
header #navbars .header-icons .header-login-register .header-login {
  text-align: left;
  width: 100%;
  height: 50%;
}
header #navbars .header-icons .header-login-register .header-login:hover {
  background-color: white;
}
header #navbars .header-icons .header-login-register .header-login a {
  text-decoration: none;
  color: rgb(26, 26, 26);
  margin-left: 2%;
}
header #navbars .header-icons .header-login-register .header-register {
  text-align: left;
  width: 100%;
  height: 50%;
}
header #navbars .header-icons .header-login-register .header-register:hover {
  background-color: white;
}
header #navbars .header-icons .header-login-register .header-register a {
  text-decoration: none;
  color: rgb(26, 26, 26);
  margin-left: 2%;
}
header #navbars .header-icons a {
  text-decoration: none;
}
header #navbars .header-icons a b {
  color: #ca8f65;
  position: relative;
  right: 7%;
  bottom: 18px;
  display: inline-block;
  width: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 11px;
  background-color: #ca8f65;
  color: white;
  border-radius: 100%;
}
header #navbars .header-icons a i {
  font-size: 138%;
  color: #ca8f65;
  padding-top: 22%;
  margin: 4%;
}
header #navbars .header-icons a span {
  position: relative;
  right: 7%;
  bottom: 18px;
  display: inline-block;
  width: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 11px;
  background-color: #ca8f65;
  color: white;
  border-radius: 100%;
}
header #navbars .header-icons a span:last-child {
  background-color: beige;
  font-size: 110%;
  width: 0;
  height: 0;
  margin-right: 10%;
  bottom: 0px;
  color: #ca8f65;
}
header #tablet-navbars .tablet-navbar {
  width: 93%;
  height: auto;
  position: absolute;
  z-index: 5;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-menu-icon {
  width: 100%;
  height: auto;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-menu-icon i {
  font-size: 50px;
  color: #ca8f65;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-menu {
  width: 67%;
  height: 74%;
  background-color: #2a2a2a;
  border-radius: 2%;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-menu hr {
  color: #f1e9e4;
  margin-left: -31px;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-menu ul {
  list-style: none;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-menu ul li {
  padding-top: 10px;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-menu ul li a {
  text-decoration: none;
  color: #ca8f65;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-menu ul li a span {
  font-family: cursive;
}
header #tablet-navbars .tablet-navbar .header-login-register {
  width: 24%;
  height: 55%;
  background-color: rgb(243, 243, 243);
  position: absolute;
}
header #tablet-navbars .tablet-navbar .header-login-register .header-login {
  text-align: left;
  width: 100%;
  height: 50%;
}
header #tablet-navbars .tablet-navbar .header-login-register .header-login:hover {
  background-color: white;
}
header #tablet-navbars .tablet-navbar .header-login-register .header-login a {
  text-decoration: none;
  color: rgb(26, 26, 26);
  margin-left: 2%;
}
header #tablet-navbars .tablet-navbar .header-login-register .header-register {
  text-align: left;
  width: 100%;
  height: 50%;
}
header #tablet-navbars .tablet-navbar .header-login-register .header-register:hover {
  background-color: white;
}
header #tablet-navbars .tablet-navbar .header-login-register .header-register a {
  text-decoration: none;
  color: rgb(26, 26, 26);
  margin-left: 2%;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-logo {
  width: 100%;
  height: auto;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-icons {
  width: 100%;
  height: auto;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-icons a {
  text-decoration: none;
  color: #ca8f65;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-icons a:nth-child(3) span {
  position: relative;
  bottom: 12px;
  right: 2%;
  font-size: 25px;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-icons a:nth-child(4) span:nth-child(2) {
  position: relative;
  bottom: 12px;
  right: 2%;
  font-size: 25px;
}
header #tablet-navbars .tablet-navbar .tablet-navbar-icons a i {
  width: 10%;
  font-size: 25px;
}
header #tablet-navbars .tablet-navbar-search {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 5;
  top: 7%;
}
header #tablet-navbars .tablet-navbar-search input {
  margin-left: 66%;
}
header #phone-navbars .phone-navbars {
  width: 100%;
  height: auto;
  background-color: #343333;
  z-index: 20;
}
header #phone-navbars .phone-navbars .phone-navbar-logo {
  width: 100%;
  height: auto;
  text-align: end;
}
header #phone-navbars .phone-navbars .phone-navbar-basket {
  width: 100%;
  height: auto;
  text-align: end;
}
header #phone-navbars .phone-navbars .phone-navbar-basket a {
  text-decoration: none;
  color: #ca8f65;
}
header #phone-navbars .phone-navbars .phone-navbar-basket a span:nth-child(2) {
  position: relative;
  bottom: 10px;
}
header #phone-navbars .phone-navbars .phone-navbar-icons {
  width: 100%;
  height: auto;
  text-align: end;
}
header #phone-navbars .phone-navbars .phone-navbar-icons i {
  color: #ca8f65;
  font-size: 26px;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons {
  width: 100%;
  height: auto;
  background-color: #2a2a2a;
  position: absolute;
  border-radius: 2%;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu-icon-search {
  width: 100%;
  height: auto;
  text-align: center;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu-icon-search i {
  color: #ca8f65;
  font-size: 20px;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu-login-register {
  width: 100%;
  height: auto;
  text-align: center;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu-login-register hr {
  color: #ca8f65;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu-login-register a {
  text-decoration: none;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu-login-register a:nth-child(2) span {
  position: relative;
  bottom: 10px;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu-login-register a:nth-child(3) span:nth-child(2) {
  position: relative;
  bottom: 10px;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu-login-register a i {
  color: #ca8f65;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu-login-register a span {
  color: #ca8f65;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-login-register {
  width: 83%;
  height: auto;
  background-color: whitesmoke;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-login-register a {
  text-decoration: none;
  color: #ca8f65;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu {
  width: 100%;
  height: auto;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu ul {
  list-style: none;
  margin-top: 12px;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu ul a {
  text-decoration: none;
  color: #ca8f65;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu ul a span {
  font-family: cursive;
}
header #phone-navbars .phone-navbars .phone-navbar-menu-icons .phone-navbar-menu ul hr {
  color: #ca8f65;
  margin-left: -31px;
}

main #background-images .background-image {
  position: relative;
}
main #background-images .background-image img {
  width: 100%;
}
main #background-images .background-image img:first-child {
  position: absolute;
}
main #background-images .background-image img:nth-child(2) {
  position: absolute;
}
main #background-images .background-image img:last-child {
  position: absolute;
}
main .swiper-button-next {
  display: none;
}
main .swiper-button-prev {
  display: none;
}
main .swiper-pagination span {
  background: #ca8f65;
}
main #sliders .slider {
  width: 100%;
  height: 100%;
}
main #sliders .slider .swiper-slide h2 {
  color: white;
  font-size: 90px;
  position: relative;
  top: 156px;
}
main #sliders .slider .swiper-slide h3 {
  color: #ca8f65;
  position: relative;
  top: 200px;
  left: 6%;
}
main #sliders .slider .swiper-slide h4 {
  color: white;
  position: relative;
  top: 160px;
}
main #sliders .slider .swiper-slide span {
  color: whitesmoke;
  position: relative;
  top: 180px;
}
main #sliders .slider .swiper-slide:first-child img {
  width: 45%;
  height: 10%;
  position: relative;
  float: right;
  bottom: 20px;
  right: 3%;
}
main #sliders .slider .swiper-slide:nth-child(2) img {
  width: 43%;
  height: 10%;
  position: relative;
  float: right;
  bottom: 10px;
  right: 8%;
}
main #sliders .slider .swiper-slide:nth-child(3) img {
  width: 40%;
  height: 10%;
  position: relative;
  float: right;
  right: 6%;
}
main #sliders .slider .swiper-slide:last-child img {
  width: 30%;
  height: 10%;
  position: relative;
  float: right;
  bottom: 50px;
  right: 7%;
}
main #background-slider {
  width: 100%;
  height: auto;
}
main #background-slider img {
  width: 100%;
  opacity: 0.8;
  position: relative;
  bottom: 23px;
}
main #main-traditions .main-tradition {
  width: 100%;
  height: 800px;
}
main #main-traditions .main-tradition .main-lineback img {
  position: absolute;
  width: 100%;
}
main #main-traditions .main-tradition .main-logo {
  text-align: center;
  width: 100%;
  height: 32%;
}
main #main-traditions .main-tradition .main-logo img {
  width: 3%;
  margin-top: 5%;
}
main #main-traditions .main-tradition .main-logo h1 {
  color: #ca8f65;
}
main #main-traditions .main-tradition .main-line {
  width: 100%;
  height: 10%;
  text-align: center;
}
main #main-traditions .main-tradition .main-line img {
  margin-top: 2%;
}
main #main-traditions .main-tradition .tradition-description {
  width: 100%;
  height: 12%;
  text-align: center;
}
main #main-traditions .main-tradition .tradition-description h5 {
  color: white;
}
main #main-traditions .main-tradition .main-signature {
  width: 100%;
  height: 12%;
  text-align: center;
}
main #main-traditions .main-tradition .main-lines {
  width: 100%;
  height: 20%;
  text-align: center;
  padding-top: 5%;
}
main #special-collections .special-collection {
  width: 100%;
  height: 630px;
  padding: 25px 28px 7px;
  border: 1px solid #CA8F65;
}
main #special-collections .special-collection .special-prices {
  width: 100%;
  height: 100%;
  text-align: center;
}
main #special-collections .special-collection .special-prices .special-price {
  width: 100%;
  height: 56%;
  padding-top: 10%;
}
main #special-collections .special-collection .special-prices .special-price h1 {
  color: #ca8f65;
}
main #special-collections .special-collection .special-prices .special-price h4 {
  color: rgb(240, 235, 235);
}
main #special-collections .special-collection .special-prices .zeros {
  width: 100%;
  height: 11%;
  gap: 20%;
}
main #special-collections .special-collection .special-prices .zeros h1 {
  color: #ca8f65;
}
main #special-collections .special-collection .special-prices .days-hours {
  width: 100%;
  height: 10%;
  gap: 19%;
}
main #special-collections .special-collection .special-prices .days-hours h5 {
  color: rgb(206, 206, 206);
}
main #special-collections .special-collection .special-prices .button-buy {
  width: 100%;
  height: 10%;
}
main #special-collections .special-collection .special-prices .button-buy button {
  background-color: #ca8f65;
  width: 25%;
  height: 72%;
  border: none;
}
main #special-collections .special-collection .special-prices .button-buy button:hover {
  background-color: rgb(232, 232, 232);
}
main #special-collections .special-collection .special-prices .button-buy button a {
  text-decoration: none;
  color: rgb(57, 54, 54);
}
main #special-collections .special-collection .whiskey-men {
  text-align: end;
  width: 100%;
}
main #special-collections .special-collection .whiskey-men img {
  width: 100%;
  height: 100%;
}
main #background-img1 .back-img {
  width: 100%;
  height: 28px;
  background-color: #343333;
}
main #background-img1 .back-img img {
  width: 100%;
}
main #main-products .main-product {
  width: 100%;
  height: auto;
  background-color: #2a2a2a;
}
main #main-products .main-product .product-priviews {
  width: 62%;
  height: auto;
  background-color: #303030;
  position: fixed;
  right: 18%;
  margin-top: 20%;
  z-index: 99;
  top: -26%;
}
main #main-products .main-product .product-priviews .priviews-img {
  width: 100%;
  height: 100%;
}
main #main-products .main-product .product-priviews .priviews-img img {
  width: 100%;
  height: 100%;
}
main #main-products .main-product .product-priviews .priviews-informs {
  width: 100%;
  height: 100%;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-name {
  width: 100%;
  height: 14%;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-name h1 {
  color: #ca8f65;
  text-align: left;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-name span {
  position: relative;
  left: 38%;
  transition: all 0.3s ease-in-out;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-name span i {
  color: #f9eeee;
  cursor: pointer;
}
main #main-products .main-product .product-priviews .priviews-informs .priviewWhiskey-price {
  width: 100%;
  height: 10%;
}
main #main-products .main-product .product-priviews .priviews-informs .priviewWhiskey-price h4 {
  color: #ca8f65;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-info {
  width: 89%;
  height: 20%;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-info span {
  color: #8e8e8e;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-capacity {
  width: 100%;
  height: 10%;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-capacity span {
  color: #f9eeee;
  font-size: 22px;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-capacity button {
  width: 10%;
  height: 50%;
  border: none;
  background-color: #303030;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-capacity button:hover {
  background-color: #8e8e8e;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-capacity button a {
  text-decoration: none;
  color: #6c6969;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-price {
  width: 100%;
  height: 10%;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-price span {
  font-size: 25px;
  font-weight: 650;
  color: #ca8f65;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart {
  width: 100%;
  height: 8%;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-buttons {
  width: 100%;
  height: 100%;
  border: 1px;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-buttons button {
  width: 30%;
  height: 100%;
  background-color: #303030;
  border: none;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-buttons button:hover {
  background-color: #444444;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-buttons button a i {
  color: white;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-buttons input {
  width: 30%;
  height: 100%;
  border: none;
  background-color: #303030;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-addcart {
  width: 100%;
  height: 100%;
  background-color: #ca8f65;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-addcart button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ca8f65;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-addcart button:hover {
  background-color: #ebebeb;
  transition: 1s;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-addcart button a {
  text-decoration: none;
  color: black;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-iconheart {
  width: 100%;
  height: 60%;
  margin-top: 6%;
  margin-left: 8%;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-iconheart a {
  text-decoration: none;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-iconheart a i {
  color: #ca8f65;
  font-size: 25px;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-button-cart .whiskey-iconheart a i:hover {
  color: #f9eeee;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-categories {
  width: 100%;
  height: 10%;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-categories span {
  color: #f1e9e4;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-categories a {
  text-decoration: none;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-categories a span {
  color: #ca8f65;
}
main #main-products .main-product .product-priviews .priviews-informs .whiskey-categories a span:hover {
  color: white;
}
main #main-products .main-product .recommented-logo {
  width: 100%;
  height: 130px;
  text-align: center;
}
main #main-products .main-product .recommented-logo img {
  position: relative;
  top: 23%;
}
main #main-products .main-product .recommented-products {
  width: 100%;
  height: 120px;
  text-align: center;
}
main #main-products .main-product .recommented-products h1 {
  font-weight: 600;
  color: #ca8f65;
}
main #main-products .main-product .recommented-line {
  width: 100%;
  height: 70px;
  text-align: center;
}
main #main-products .main-product .products-whiskeys {
  width: 100%;
  height: auto;
}
main #main-products .main-product .products-whiskeys .whiskeys {
  width: 100%;
  height: 500px;
}
main #main-products .main-product .products-whiskeys .whiskeys:hover .whiskey-icons a {
  text-decoration: none;
}
main #main-products .main-product .products-whiskeys .whiskeys:hover .whiskey-icons a i {
  display: block;
}
main #main-products .main-product .products-whiskeys .whiskeys .whiskey-icons {
  width: 30px;
  height: 96px;
  position: absolute;
  margin-left: 25%;
  margin-top: 3%;
  gap: 10px;
  gap: 5;
  display: grid;
}
main #main-products .main-product .products-whiskeys .whiskeys .whiskey-icons i {
  font-size: 20px;
  color: white;
  display: none;
}
main #main-products .main-product .products-whiskeys .whiskeys .whiskey-icons i:hover {
  color: #ca8f65;
  transition: 0.2s;
}
main #main-products .main-product .products-whiskeys .whiskeys .whiskey {
  width: 100%;
  height: 80%;
}
main #main-products .main-product .products-whiskeys .whiskeys .whiskey img {
  width: 100%;
  height: 100%;
}
main #main-products .main-product .products-whiskeys .whiskeys .whiskey-name {
  width: 100%;
  height: 20%;
  text-align: center;
}
main #main-products .main-product .products-whiskeys .whiskeys .whiskey-name a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 21px;
}
main #main-products .main-product .products-whiskeys .whiskeys .whiskey-name span {
  color: #ca8f65;
}
main #background-img-two .back-img {
  width: 100%;
  height: 40px;
  background-color: #343333;
}
main #background-img-two .back-img img {
  width: 100%;
}
main #blogs-advertising .advertisings {
  width: 100%;
  height: auto;
}
main #blogs-advertising .advertisings .advertising-logo {
  width: 100%;
  height: 7%;
  text-align: center;
}
main #blogs-advertising .advertisings .advertising-title {
  width: 100%;
  height: 10%;
  text-align: center;
}
main #blogs-advertising .advertisings .advertising-title h2 {
  color: #ca8f65;
  height: auto;
}
main #blogs-advertising .advertisings .advertising-line {
  width: 100%;
  height: 7%;
  text-align: center;
}
main #blogs-advertising .advertisings .advertising-line img {
  width: auto;
  height: auto;
}
main #blogs-advertising .advertisings .advertising-img {
  width: 100%;
  height: 37%;
}
main #blogs-advertising .advertisings .advertising-img img {
  width: 100%;
}
main #blogs-advertising .advertisings .advertising-icons {
  width: 100%;
  height: 25%;
}
main #blogs-advertising .advertisings .advertising-icons .shipping {
  width: 100%;
  height: auto;
  text-align: center;
}
main #blogs-advertising .advertisings .advertising-icons .shipping img:hover {
  margin-top: -10px;
  transition: 0.6s;
}
main #blogs-advertising .advertisings .advertising-icons .shipping-name {
  width: 100%;
  height: auto;
  text-align: center;
}
main #blogs-advertising .advertisings .advertising-icons .shipping-name h4 {
  color: white;
}
main #blogs-advertising .advertisings .advertising-icons .shipping-name h4::before {
  content: "";
  display: block;
  width: 0;
  margin: 0 auto;
  height: 2px;
  top: -15px;
  position: relative;
}
main #blogs-advertising .advertisings .advertising-icons .shipping-description {
  width: 100%;
  height: auto;
  text-align: center;
}
main #blogs-advertising .advertisings .advertising-icons .shipping-description span {
  color: #8e8e8e;
}
main #blogs .home-blog-logo {
  width: 100%;
  height: 70px;
  text-align: center;
}
main #blogs .home-blog-name {
  width: 100%;
  height: 70px;
  text-align: center;
}
main #blogs .home-blog-name h1 {
  color: #ca8f65;
  height: 100%;
}
main #blogs .home-blog-line {
  width: 100%;
  height: 50px;
  text-align: center;
}
main #blogs .home-blogs {
  width: 100;
}
main #blogs .home-blogs a {
  text-decoration: none;
  position: absolute;
  right: 5%;
  top: 5%;
  color: white;
  display: none;
}
main #blogs .home-blogs a i {
  font-size: 24px;
}
main #blogs .home-blogs a:hover {
  color: #ca8f65;
}
main #blogs .home-blogs span {
  color: #f1e9e4;
}
main #blogs .home-blogs .home-blog {
  background-color: #484848;
}
main #blogs .home-blogs .homes-blogs-hover:hover a {
  display: block;
}
main #background-img-three .back-img {
  width: 100%;
  height: 26px;
}
main #background-img-three .back-img img {
  width: 100%;
}

footer #footer .footers {
  width: 100%;
  height: auto;
  background-color: #2a2a2a;
}
footer #footer .footers .footer-logo {
  width: 100%;
  height: 100px;
  text-align: center;
}
footer #footer .footers .footer-logo img {
  width: 100%;
  height: 100%;
}
footer #footer .footers .footer .footer-title {
  width: 100%;
  height: 40px;
}
footer #footer .footers .footer .footer-title h5 {
  color: #ca8f65;
  margin-left: 9%;
}
footer #footer .footers .footer .footer-description {
  width: 100%;
}
footer #footer .footers .footer .footer-description ul li {
  list-style: none;
}
footer #footer .footers .footer .footer-description ul li a {
  text-decoration: none;
  color: #666666;
}
footer #footer .footers .footer .footer-description ul li a:hover {
  color: #ca8f65;
}
footer #footer .footers .footer hr {
  color: #ebebeb;
}
footer #footer-lines {
  width: 100%;
  height: 60px;
}
footer #footer-lines .footer-line {
  width: 100%;
  height: 1px;
  background-color: rgb(104, 104, 104);
}
footer #footer-lines .footer-line .footer-title span {
  color: #8e8e8e;
}
footer #footer-lines .footer-line .footer-titles {
  text-align: end;
}
footer #footer-lines .footer-line .footer-titles span {
  color: #8e8e8e;
}/*# sourceMappingURL=home.css.map */