* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: auto;
    background-color: #343333;
}


@media (max-width:850px){

    #background-img-three{
        .back-imgs{
            width: 100%;
            img{
                width: 100% !important;
                position: relative;
                top: 10px !important;
            }
        }
    }




    #footer {
        .footers {

            .footer {
                text-align: center;
            }

        }

    }


}



header {
    #navbars {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 5;




        .navbar {
            width: 100%;
            height: 120px;

            @media screen and (max-width:821px) {}


            ul {
                gap: 14%;



                li {
                    list-style: none;
                    float: left;



                    a {
                        text-decoration: none;
                        color: black;








                        span {

                            color: #ca8f65;






                        }

                        &:hover span {
                            color: white;
                        }



                    }
                }
            }

        }


        .header-logo {
            width: 100%;
            height: 100%;
            text-align: center;



        }

        .header-search {
            width: 100%;
            height: 100%;


            input {
                width: 86%;
                height: 28%;
                border: none;
            }

            a {

                i {
                    font-size: 138%;
                    color: #ca8f65;
                    position: relative;
                    float: right;
                    top: 44%;


                }
            }








        }

        .header-icons {
            width: 100%;
            height: 100%;
            text-align: center;

            .header-login-register {
                width: 12%;
                height: 55%;
                background-color: rgb(243, 243, 243);
                position: absolute;




                .header-login {
                    text-align: left;
                    width: 100%;
                    height: 50%;

                    &:hover {
                        background-color: white;
                    }

                    a {
                        text-decoration: none;
                        color: rgb(26, 26, 26);
                        margin-left: 2%;

                    }
                }


                .header-register {

                    text-align: left;
                    width: 100%;
                    height: 50%;

                    &:hover {
                        background-color: white;
                    }


                    a {
                        text-decoration: none;
                        color: rgb(26, 26, 26);
                        margin-left: 2%;

                    }

                }



            }





            a {
                text-decoration: none;


                b {
                    color: #ca8f65;
                    position: relative;
                    right: 7%;
                    bottom: 18px;
                    display: inline-block;
                    width: 18px;
                    line-height: 18px;
                    text-align: center;
                    font-size: 11px;
                    background-color: #ca8f65;
                    color: white;
                    border-radius: 100%;

                }













                i {
                    font-size: 138%;
                    color: #ca8f65;
                    padding-top: 22%;
                    margin: 4%;

                }


                span {

                    position: relative;
                    right: 7%;
                    bottom: 18px;
                    display: inline-block;
                    width: 18px;
                    line-height: 18px;
                    text-align: center;
                    font-size: 11px;
                    background-color: #ca8f65;
                    color: white;
                    border-radius: 100%;

                    &:last-child {
                        background-color: beige;
                        font-size: 110%;
                        width: 0;
                        height: 0;
                        margin-right: 10%;
                        bottom: 0px;
                        color: #ca8f65;


                    }



                }







            }










        }



    }

    #tablet-navbars {


        .tablet-navbar {
            width: 93%;
            height: auto;
            position: absolute;
            z-index: 5;

            .tablet-navbar-menu-icon {
                width: 100%;
                height: auto;

                i {
                    font-size: 50px;
                    color: #ca8f65;
                }





            }



            .tablet-navbar-menu {
                width: 67%;
                height: 74%;
                background-color: #2a2a2a;
                border-radius: 2%;

                hr {
                    color: #f1e9e4;
                    margin-left: -31px;
                }

                ul {
                    list-style: none;

                    li {
                        padding-top: 10px;




                        a {
                            text-decoration: none;
                            color: #ca8f65;

                            span {
                                font-family: cursive;

                            }





                        }


                    }
                }
            }

            .header-login-register {
                width: 24%;
                height: 55%;
                background-color: rgb(243, 243, 243);
                position: absolute;




                .header-login {
                    text-align: left;
                    width: 100%;
                    height: 50%;

                    &:hover {
                        background-color: white;
                    }

                    a {
                        text-decoration: none;
                        color: rgb(26, 26, 26);
                        margin-left: 2%;

                    }
                }


                .header-register {

                    text-align: left;
                    width: 100%;
                    height: 50%;

                    &:hover {
                        background-color: white;
                    }


                    a {
                        text-decoration: none;
                        color: rgb(26, 26, 26);
                        margin-left: 2%;

                    }

                }



            }




            .tablet-navbar-logo {
                width: 100%;
                height: auto;


            }



            .tablet-navbar-icons {
                width: 100%;
                height: auto;



                a {

                    text-decoration: none;
                    color: #ca8f65;

                    &:nth-child(3) {
                        span {

                            position: relative;
                            bottom: 12px;
                            right: 2%;
                            font-size: 25px;

                        }
                    }


                    &:nth-child(4) {

                        span {

                            &:nth-child(2) {
                                position: relative;
                                bottom: 12px;
                                right: 2%;
                                font-size: 25px;




                            }


                        }


                    }

                    i {
                        width: 10%;
                        font-size: 25px;




                    }

                }
            }




        }

        .tablet-navbar-search {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 5;
            top: 7%;

            input {
                margin-left: 66%;
            }



        }


    }

    #phone-navbars {

        .phone-navbars {
            width: 100%;
            height: auto;
            background-color: #343333;
            z-index: 20;



            .phone-navbar-logo {
                width: 100%;
                height: auto;
                text-align: end;
            }

            .phone-navbar-basket {
                width: 100%;
                height: auto;
                text-align: end;

                a {
                    text-decoration: none;
                    color: #ca8f65;

                    span {



                        &:nth-child(2) {

                            position: relative;
                            bottom: 10px;




                        }

                    }













                }

            }


            .phone-navbar-icons {
                width: 100%;
                height: auto;
                text-align: end;

                i {
                    color: #ca8f65;
                    font-size: 26px;
                }
            }

            .phone-navbar-menu-icons {
                width: 100%;
                height: auto;
                background-color: #2a2a2a;
                position: absolute;
                border-radius: 2%;

                .phone-navbar-menu-icon-search {
                    width: 100%;
                    height: auto;
                    text-align: center;



                    i {
                        color: #ca8f65;
                        font-size: 20px;




                    }

                }


                .phone-navbar-menu-login-register {
                    width: 100%;
                    height: auto;

                    text-align: center;

                    hr {
                        color: #ca8f65;
                    }



                    a {

                        text-decoration: none;

                        &:nth-child(2) {

                            span {

                                position: relative;
                                bottom: 10px;
                            }

                        }


                        &:nth-child(3) {


                            span {

                                &:nth-child(2) {
                                    position: relative;
                                    bottom: 10px;

                                }


                            }

                        }

                        i {
                            color: #ca8f65;
                        }

                        span {
                            color: #ca8f65;


                        }


                    }
                }

                .phone-login-register {
                    width: 83%;
                    height: auto;
                    background-color: whitesmoke;

                    a {
                        text-decoration: none;
                        color: #ca8f65;

                    }


                }

                .phone-navbar-menu {
                    width: 100%;
                    height: auto;

                    ul {
                        list-style: none;
                        margin-top: 12px;

                        a {
                            text-decoration: none;
                            color: #ca8f65;

                            span {
                                font-family: cursive;
                            }

                        }

                        hr {
                            color: #ca8f65;
                            margin-left: -31px;
                        }


                    }

                }


            }


        }
    }
}

main {
    #main-up {
        background-color: #2a2a2a;

        .main-up-contact-name {
            width: 100%;
            height: 65px;
            text-align: center;
            margin-top: 15%;

            h1 {
                color: #ca8f65;

            }

        }


        .main-up-contact-titles {
            width: 100%;
            height: 120px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;


            .main-up-contact-title {
                width: 50%;
                height: auto;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2%;

                a {
                    text-decoration: none;

                    span {
                        color: #ca8f65;

                        &:hover {
                            color: white;
                        }

                    }

                }

                hr {
                    color: #ca8f65;
                }

                span {
                    color: #7a716a;

                }





            }

        }






    }

    #main-down {
        .main-down {

            .main-down-desc {
                width: 34%;
                text-align: center;
                margin-left: 34%;

                h2 {

                    color: #ca8f65;
                }
            }

            .main-down-email-name {
                width: 34%;
                text-align: center;
                margin-left: 34%;

                span {
                    font-size: 20px;
                    color: #7a716a;
                }
            }

            .main-down-email {
                text-align: center;

                input {
                    background-color: #343333;
                    width: 30%;
                    height: 50px;
                    color: white;
                    outline: none;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                }
            }

            .main-down-email-reset {
                width: 100%;
                text-align: center;

                button {
                    background-color: #ca8f65;
                    width: 30%;
                    border: none;
                    height: 50px;
                    &:hover{
                        background-color: white;
                        transition: 0.5s;
                    }
                }
            }

            .main-down-email-register{
                width: 100%;
                height: auto;
                text-align: center;

                a{
                    text-decoration: none;
                    color: #ca8f65;
                    &:hover{
                        color: #8e8e8e;
                    }
                }


            }







        }
    }

    
    #background-img-three{
        .back-imgs{
            width: 100%;
            height: auto;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}



footer {
    #footer {
        .footers {

            width: 100%;
            height: auto;
            background-color: #2a2a2a;

            .footer-logo {
                width: 100%;
                height: 100px;
                text-align: center;


                img {
                    width: 100%;
                    height: 100%;
                }


            }

            .footer {
                .footer-title {
                    width: 100%;
                    height: 40px;


                    h5 {
                        color: #ca8f65;
                        margin-left: 9%;
                    }

                }

                .footer-description {
                    width: 100%;



                    ul {




                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                color: #666666;

                                &:hover {
                                    color: #ca8f65;
                                }

                            }
                        }


                    }



                }


                hr {
                    color: #ebebeb;
                }



            }













        }

    }

    #footer-lines {
        width: 100%;
        height: 60px;

        .footer-line {
            width: 100%;
            height: 1px;
            background-color: rgb(104, 104, 104);


            .footer-title {
                span {
                    color: #8e8e8e;
                }
            }

            .footer-titles {
                text-align: end;

                span {
                    color: #8e8e8e;
                }
            }
        }
    }



}