@model LayoutVM


<header>

    <section id="navbars" class="d-lg-block d-none">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="navbar">
                        <ul class="d-flex">
                            <li>
                                <a asp-controller="Home" asp-action="Index"><span>HOME</span></a>
                            </li>
                            <li>
                                <a asp-controller="About" asp-action="Index"><span>ABOUT</span></a>
                            </li>
                            <li>
                                <a asp-controller="Shop" asp-action="Index"><span>SHOP</span></a>
                            </li>
                            <li>
                                <a asp-controller="Blog" asp-action="Index"><span>BLOG</span></a>
                            </li>
                            <li>
                                <a asp-controller="Contact" asp-action="Index"><span>CONTACT</span></a>
                            </li>
                        </ul>
                      
                    </div>


                </div>

                <div class="col-2">
                    <div class="header-logo ">
                        <img class="mt-4" src="~/assets/img/header-logo1.svg" alt="">
                    </div>

                </div>

                <div class="col-3">
                    <div class="header-search">
                        <input class="mt-5 d-none" placeholder="Search" type="text">
                        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                </div>



                <div class="col-2">
                    <div class="header-icons">
                        <a href="">
                            <i class="fa-regular fa-user"></i>

                        </a>

                        <a asp-controller="wishlist" asp-action="Index">
                            <i class="fa-regular fa-heart"></i>
                            <b>0</b>
                        </a>
                        <a href="file:///C:/Users/HP/Desktop/EndProject/cart.html">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <span>0</span>
                            <span>$0.00</span>

                        </a>


                        <div class="header-login-register d-none">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a class="dropdown-item" href="my-account.html">@User.Identity.Name</a>
                                </li>
                                <div class="border"></div>
                                <li class="nav-item">
                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        <button style="border:none;color:black;background-color:white; width:100%;" type="submit" class="nav-link">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <div class="header-login border">
                                    <a asp-controller="Account" asp-action="Login">Login</a>
                                </div>
                                <div class="header-register border">
                                    <a asp-controller="Account" asp-action="Register">Register</a>
                                </div>
                            }
                            


                        </div>








                    </div>

                </div>



            </div>

        </div>

    </section>

    <section id="tablet-navbars" class="d-lg-none d-none d-md-block ">
        <div class="container">
            <div class="row">
                <div class="tablet-navbar d-flex">
                    <div class="col-4">
                        <div class="tablet-navbar-menu-icon mt-5">
                            <i class="fa-solid fa-bars"></i>
                        </div>

                        <div class="tablet-navbar-menu d-none mt-3">

                            <ul>
                                <li>
                                    <a href="file:///C:/Users/HP/Desktop/EndProject/home.html">
                                        <span>HOME</span>
                                    </a>
                                </li>
                                <hr>

                                <li>
                                    <a href="file:///C:/Users/HP/Desktop/EndProject/about.html">
                                        <span>ABOUT</span>
                                    </a>
                                </li>
                                <hr>

                                <li>
                                    <a href="file:///C:/Users/HP/Desktop/EndProject/product.html"><span>Shop</span></a>
                                </li>
                                <hr>

                                <li>
                                    <a href="file:///C:/Users/HP/Desktop/EndProject/blog.html"><span>BLOG</span></a>
                                </li>
                                <hr>

                                <li>
                                    <a href="file:///C:/Users/HP/Desktop/EndProject/contact.html"><span>CONTACT</span></a>
                                </li>


                            </ul>

                        </div>

                    </div>


                    <div class="col-4 d-flex">
                        <div class="tablet-navbar-logo mt-4">
                            <img class="" src="~/assets/img/header-logo1.svg" alt="">
                        </div>

                    </div>


                    <div class="col-4">

                        <div class="tablet-navbar-icons mt-5">


                            <a href="">
                                <i class="fa-solid fa-magnifying-glass">

                                </i>
                            </a>

                            <a href="">
                                <i class="fa-regular fa-user"></i>

                            </a>

                            <a href="file:///C:/Users/HP/Desktop/EndProject/wishlist.html">
                                <i class="fa-regular fa-heart"></i>
                                <span>0</span>
                            </a>

                            <a href="file:///C:/Users/HP/Desktop/EndProject/cart.html">
                                <i class="fa-solid fa-bag-shopping"></i>
                                <span>0</span>
                                <span>$0.00</span>

                            </a>


                            <div class="header-login-register d-none mt-2 ">
                                <div class="header-login border">
                                    <a href="file:///C:/Users/HP/Desktop/EndProject/login.html">Login</a>
                                </div>
                                <div class="header-register border">
                                    <a href="file:///C:/Users/HP/Desktop/EndProject/register.html">Register</a>
                                </div>


                            </div>








                        </div>


                    </div>




                </div>

                <div class="tablet-navbar-search d-none">
                    <input class="mt-2 " placeholder="Search" type="text">

                </div>








            </div>

        </div>
        </div>

    </section>

    <section id="phone-navbars" class="d-lg-none d-md-none">
        <div class="container">
            <div class="row">
                <div class="phone-navbars d-flex">
                    <div class="col-7">
                        <div class="phone-navbar-logo mt-2">
                            <img class="" src="~/assets/img/header-logo1.svg" alt="">

                        </div>
                        <div class="phone-navbar-basket mt-3">
                            <a href="file:///C:/Users/HP/Desktop/EndProject/cart.html">
                                <i class="fa-solid fa-bag-shopping"></i>
                                <span>0</span>
                                <span>$0.00</span>

                            </a>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="phone-navbar-icons mt-4">
                            <i class="fa-solid fa-bars"></i>
                        </div>



                    </div>

                    <div class="phone-navbar-menu-icons d-none mt-5">
                        <div class="phone-navbar-menu-icon-search mt-4">
                            <a href="">
                                <i class="fa-solid fa-magnifying-glass"></i>

                            </a>
                        </div>


                        <div class="tablet-navbar-search d-none">
                            <input class="mt-2" placeholder="Search" type="text">

                        </div>



                        <div class="phone-navbar-menu-login-register mt-3">
                            <a href="">
                                <i class="fa-regular fa-user"></i>

                            </a>

                            <a href="file:///C:/Users/HP/Desktop/EndProject/wishlist.html">
                                <i class="fa-regular fa-heart"></i>
                                <span>0</span>
                            </a>

                            <a href="file:///C:/Users/HP/Desktop/EndProject/cart.html">
                                <i class="fa-solid fa-bag-shopping"></i>
                                <span>0</span>
                                <span>$0.00</span>
                            </a>

                            <hr>



                        </div>

                        <div class="phone-login-register d-none">

                            <div class="phone-login border">
                                <a href="file:///C:/Users/HP/Desktop/EndProject/login.html">Login</a>
                            </div>
                            <div class="phone-register border">
                                <a href="file:///C:/Users/HP/Desktop/EndProject/register.html">Register</a>
                            </div>


                        </div>

                        <div class="phone-navbar-menu">

                            <ul>
                                <li>
                                    <a href="file:///C:/Users/HP/Desktop/EndProject/home.html">
                                        <span>HOME</span>
                                    </a>
                                </li>
                                <hr>

                                <li>
                                    <a href="file:///C:/Users/HP/Desktop/EndProject/about.html">
                                        <span>ABOUT</span>
                                    </a>
                                </li>
                                <hr>

                                <li>
                                    <a href="file:///C:/Users/HP/Desktop/EndProject/product.html"><span>Shop</span></a>
                                </li>
                                <hr>

                                <li>
                                    <a href="file:///C:/Users/HP/Desktop/EndProject/blog.html"><span>BLOG</span></a>
                                </li>
                                <hr>

                                <li>
                                    <a href="file:///C:/Users/HP/Desktop/EndProject/contact.html"><span>CONTACT</span></a>
                                </li>


                            </ul>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>



</header>
