@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<main>
    <section id="main-up">
        <div class="container">
            <div class="row">
                <div class="main-up-contact-name">
                    <h1>My account</h1>
                </div>

                <div class="main-up-contact-titles">
                    <div class="main-up-contact-title">
                        <a asp-controller="Home" asp-action="Index"><span>HOME</span></a>
                        <hr>
                        <span>></span>
                        <span>My account</span>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section id="main-down">
        <div class="container">
            <div class="row">
                <div class="main-down mt-5">
                    <div class="main-down-desc">
                        <span>
                            Lost your password? Please enter your username or email address.
                            You will receive a link to create a new password via email.
                        </span>

                    </div>

                    <div class="main-down-email-name mt-4">
                        <span>Username or email</span>
                    </div>

                    <div class="main-down-email mt-5">
                        <input type="text">
                    </div>

                    <div class="main-down-email-reset mt-3">
                        <button>Reset password</button>
                    </div>




                </div>
            </div>

        </div>
    </section>


    <section id="background-img-three">
        <div class="back-img back-imgs mt-5">
            <img src="~/assets/img/main-back-img1.svg" alt="">

        </div>
    </section>
</main>

@section Scripts{
    <script src="~/assets/js/my-account.js"></script>
}
