@model LoginVM
@{
    ViewData["Title"] = "Login";
}


<main>
    <section id="main-up">
        <div class="container">
            <div class="row">
                <div class="main-up-contact-name">
                    <h1>Login</h1>
                </div>

                <div class="main-up-contact-titles">
                    <div class="main-up-contact-title">
                        <a asp-controller="Home" asp-action="Index"><span>HOME</span></a>
                        <hr>
                        <span>></span>
                        <span>Login</span>
                    </div>
                </div>

            </div>
        </div>

    </section>


    <form method="post" asp-action="Login">
        <section id="main-down">
            <div class="container">
                <div class="row">
                    <div class="main-down mt-5">
                        <div class="main-down-desc">
                            <h2>Login</h2>


                        </div>

                        <div class="main-down-email mt-5">
                            <input type="text" asp-for="EmailOrUsername" placeholder="Email">
                            <span class="text-danger" asp-validation-for="EmailOrUsername"></span>
                        </div>



                        <div class="main-down-email mt-5">
                            <input type="password" asp-for="Password" placeholder="Password">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>


                        <div class="main-down-email-reset mt-3">
                            <button type="submit">Login</button>

                        </div>

                        <div class="form-check" style="text-align:center;margin-top:15px;margin-left:-20px">
                            <input type="checkbox" id="remember_me" asp-for="IsRemember" />
                            <label style="color:gray" class="form-check-label" for="form2Example31"> Remember me </label>
                        </div>

                        <div class="main-down-email-register mt-3">
                            <a asp-controller="Account" asp-action="ForgotPassword"><span>Lost your password?</span></a>



                            <a asp-controller="Account" asp-action="Register"><p>Register</p></a>

                        </div>




                    </div>
                </div>

            </div>
        </section>
    </form>


    <section id="background-img-three">
        <div class="back-img back-imgs mt-5">
            <img src="~/assets/img/main-back-img1.svg" alt="">

        </div>
    </section>
</main>

@section Scripts{
    <script src="~/assets/js/login.js"></script>
}
