
  @model ResetPasswordVM


@{
    ViewData["Title"] = "ResetPassword";
}
@*
<div class="login-register-area section-space-y-axis-100 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-danger mb-2" asp-validation-summary="All"></div>
                <form method="post" asp-controller="Account" asp-action="ResetPassword">
                    <div class="login-form" style=" position: relative;left: 350px;top: 50px;">
                      

                        <div class="row">
                            <div class="reset" style="display: flex;flex-direction: column; text-align: left; justify-content: space-between; height: 230px;">

                                <div class="main-down-email mt-5">
                                    <input type="password" asp-for="Password" placeholder="Password*">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>

                                <div class="main-down-email mt-5">
                                    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password*">
                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                </div>


                                <div class="main-down-email-reset mt-3">
                                    <button type="submit">Send</button>
                                </div>
                            </div>
                            <input type="hidden" asp-for="Token" value="@Model.Token" />
                            <input type="hidden" asp-for="UserId" value="@Model.UserId" />

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
*@
<main>
    <section id="main-up">
        <div class="container">
            <div class="row">
                <div class="main-up-contact-name">
                    <h1>ResetPassword</h1>
                </div>

                <div class="main-up-contact-titles">
                    <div class="main-up-contact-title">
                        <a asp-controller="Home" asp-action="Index"><span>HOME</span></a>
                        <hr>
                        <span>></span>
                        <span>ResetPassword</span>
                    </div>
                </div>

            </div>
        </div>

    </section>



    <form method="post" asp-action="ResetPassword">
        <section id="main-down">
            <div class="container">
                <div class="row">
                    <div class="main-down mt-5">
                        <div class="main-down-desc">
                            <h2>ResetPassword</h2>


                        </div>

              


                        <div class="main-down-email mt-5">
                            <input type="password" asp-for="Password" placeholder="Password*">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>





                        <div class="main-down-email mt-5">
                            <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password*">
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>



                        <div class="main-down-email-reset mt-3">
                            <button type="submit">Send</button>
                        </div>

                        <input type="hidden" asp-for="Token" value="@Model.Token" />
                        <input type="hidden" asp-for="UserId" value="@Model.UserId" />

                        <div class="main-down-email-register mt-3">
                            <a asp-controller="Account" asp-action="Login"><p>Login</p></a>

                        </div>

                    </div>
                </div>

            </div>
        </section>

    </form>


    <section id="background-img-three">
        <div class="back-img back-imgs mt-5">
            <img src="~/assets/img/main-back-img1.svg" alt="">

        </div>
    </section>
</main>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
